@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url(img\narrowDollarBg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: fixed;
}

h1{
  font-family: 'Bebas Neue', sans-serif;
}